@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.bg-header{
    justify-items: center;
}

.display-gride{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}
.display-flex{
    display: flex;
    justify-content: center;
    gap: 25px;
}
#id-btn{
    background-color: orange;
    color: white;
    width: 197px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-left: 25px;
}
ul > li{
    list-style: none;
}
ul > li a{
    text-decoration: none;
    font-family: 'Quicksand';
}
#ul-item1 a{
    color: orange;
}
#ul-item2 a{
    color: skyblue;
}
#ul-item3 a{
    color: #05D4DF;
}
#ul-item4 a{
    color: #5D58EF;
}

/* empower students */
.banner{
    background-image: url(assets/bg.png);
}
.banner-content{
    margin: auto;
    width: 300px;
}
.banner-title{
    color: orange;
    font-weight: 900;
}
.banner-description{
    width: 300px;
}
#btn-primary{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: none;
}
.banner-image{
    width: 400px;
    margin: auto;
}

/* main */
.menu-title{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    height: 60px;
}
.menu-image{
    margin-top: 20px;
}
.menu-content{
    width: 370px;
    height: 370px;
    box-shadow: 1px 1px 10px 5px #DEF5FF;
    border-radius: 10px;
    justify-items: center;

}
.menu-description{
    width: 300px;
    color: #808080;
}
 
.menu-read{
    text-decoration: none;
    color: #64C8FF;
    font-weight: 900;
}
.menu-read1{
    text-decoration: none;
    font-weight: 900;
    color: orange;
}
.menu-read2{
    text-decoration: none;
    font-weight: 900;
    color: #8700FF;
}

/* our stories */
.our-stories{
    background-image: url(assets/bg.png);
    box-shadow: 1px 1px 10px 5px #DEF5FF;
    margin-top: 30px;
}
.stories-content{
    position: relative;
    width: 540px;
    height: 630px;
    border-radius: 5% 5% 5% 5%;
    border: 1px solid black;
}
.stories-img{
    border-radius: 5% 5% 0 0;
}
.stories-btn{
    position: absolute;
    background-color: orange;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    left: 0;
    bottom: 280px;
    /* margin-top: -50px; */
    border-radius: 20px;
}

/* our history */
.our-history{
    position: relative;
    background-color: rgb(245, 242, 242);
    border-radius: 0 0 5% 5%;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.history-btn{
    position: absolute;
    background-color: orange;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 20px;
    left: 100px;
    top: 160px;
}

.main-history{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.history-img{
    border-radius: 5% 5% 0 0;
}
.history-description{
    text-align: center;
    margin-top: 40px;
}
@media screen and (max-width: 576px){
    .bg-header{
        display: flex;
        align-items: center;
    }
    .item{
        display:none;
    }
    #id-btn{
        display: none;
    }
    .fa-solid{
        margin: auto;
    }
}

@media screen and (min-width:577px) {
    .fa-solid{
        display: none;
    }
}

@media screen and (max-width:576px) {
    .banner, .main-menu, .our-stories{
        flex-direction: column;
    }
}
@media screen and (max-width:576px) {
    .main-history{
        flex-direction: column;
        grid-template-columns: 1fr;
    }
}